body,
html {
  display: block;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Lato, Roboto;
  background: white;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

:not(:root):-webkit-full-screen::backdrop {
  background-color: rgba(255, 255, 255, 0);
}
#root {
  height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  height: 100vh;
}
